@model CVGS.Models.Game

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Name</h1>

<p>Your Rating: @if (Model.UserGameRating != null)
{
    @Model.UserGameRating.Rating
} else { 
    <p>N/A</p>
}
 </p>

<p>
    Overall Rating: @Model.OverAllRating
</p>



<div>
    @if (Model.UserGameRating != null)
    {
        <a asp-action="EditGameRating" asp-route-id="@Model.Id">Edit Rating</a>
    }
    else
    {
        <a asp-action="AddGameRating" asp-route-id="@Model.Id">Add Rating</a>
    }
    <a asp-action="Index">Back</a>
</div>
