@model WishList
@{

    ViewData["Title"] = "Wish List";
}


<h1>Wish List</h1>
<hr />

@if (ViewBag.SuccessMessage != null)
{
    <h4>@ViewBag.SuccessMessage</h4>
}

@if (ViewBag.ErrorMessage != null)
{
    <h4>@ViewBag.ErrorMessage</h4>
}

<table>
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.GameName)</th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.WishList != null)
        {
            @foreach (var item in ViewBag.WishList)
            {
                <tr>
                    <td>
                        @item.GameName
                        <a asp-action="DeleteWishListItem" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>


<br />
<br />
<br />

<div class="row">
    <div class="col-md-4">
        <form asp-action="WishList">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="GameId" />
            <div class="form-group">
                <label>Game Names</label>
                <select asp-for="GameName" class="form-control" asp-items="ViewBag.GameNames"></select>
                <span asp-validation-for="GameName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<br />
<br />
<br />
<div>
    <a asp-action="Index">Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
