@model IEnumerable<CVGS.Models.User>

@{
    ViewData["Title"] = "Member Detail Report";
}

<table id="gameList" class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.DisplayName)</th>
            <th>@Html.DisplayNameFor(model => model.FirstName)</th>
            <th>@Html.DisplayNameFor(model => model.LastName)</th>
            <th>@Html.DisplayNameFor(model => model.Gender)</th>
            <th>@Html.DisplayNameFor(model => model.JoinDate)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.FavoritePlatform)</th>
            <th>@Html.DisplayNameFor(model => model.FavoriteGameCategory)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JoinDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FavoritePlatform)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FavoriteGameCategory)
                </td>
            </tr>
        }
    </tbody>
</table>
